% -*- mode: erlang -*-

{erl_opts, [{native, o3},
	    warn_missing_spec,
            {parse_transform, lager_transform}
	   ]}.
{plugins, [rebar3_hex]}.
{cover_enabled, true}.

{minimum_otp_vsn, "20.0"}.

{deps, [
        {jc,{git, "https://github.com/jr0senblum/jc", {branch, "master"}}},
        {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.6.3"}}},
        {lager, "3.6.7"}
       ]}.						     


% Documentation
{edoc_opts, [{skip_deps, true},
             {preprocess, true}, 
	     {packages, true},
	     {includes, "./include"}] }.


{dialyzer_opts, [{warnings, [no_return,
                             no_unused,
                             no_improper_lists,
                             no_fun_app,
                             no_match,
                             no_opaque,
                             no_fail_call,
                             error_handling,
                             race_conditions,
                             behaviours,
                             unmatched_returns]}]}.


{relx, [{release, {'jcrest', "0.0.1"},
         ['jcrest',
          kernel,
	  stdlib,
	  inets,
	  {observer,load},
	  {wx, load},
	  {runtime_tools, load}
	 ]}, 
	
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{profiles, [

	    {prod, [
		    {relx, [{dev_mode, false},
                            {include_erts, true},
			    {include_src, false}]}
		   ]},
	    {test, [
		    {relx, [{dev_mode, true},
                            {include_erts, false},
			    {include_src, false}]},

		    {dialyzer_opts, [{warnings, []}]},
		    {ct_opts, [{cover, "test/jcrest.coverspec"},
                               {cover_enabled, true}]}
		   ]}
	    
	    ]
}.

